html(lang="en")
  head
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title Dimslaev
    meta(name="description", content="Hi! My name is Dimitar Slaev. Front-end developer, father, and foo!")
    link(rel='icon' href='../favicon.ico')
    script(src="index.jsx", type="module")
  body
    #app

