html(lang="en")
  head
    link(rel="stylesheet", href="style.scss")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&display=swap")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title DS
    script(src="https://unpkg.com/gsap@3.8.0/dist/gsap.min.js")
    script(src="https://unpkg.com/gsap@3.8.0/dist/ScrollTrigger.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.5/ScrollToPlugin.min.js")
    script(src="app.js")
  body
    button Add

    #container
        .post
            .circle
                .text Hi
            .text.ml-5 
                h3.mb-1 My name is Dimitar Slaev
                ul.tags
                    li Front-end developer
                    li Remote
                    li Based in Bulgaria
        .post
            .circle
                .text Top
            .text.ml-5 
                h3.mb-1 My top skills are
                ul.tags
                    li React
                    li Javascript
                    li CSS
                    li UI/UX
                    li Node.js
        .post
            .circle
                .text 2012
            .text.ml-5 
                h3.mb-1 I started out as a Freelancer on Upwork
                ul.tags
                    li HTML Integration
                    li Responsive
                    li Wordpress
        .post
            .circle
                .text 2016
            .text.ml-5 
                h3.mb-1 Joined a social marketplace startup and travelled east!
                ul.tags
                    li Storat.com
                    li Abu Dhabi
                    li Bangalore

