@use "sass:math";

$fi: 1.618;
$fiWidth: 90vw;
$fiHeight: math.div($fiWidth, $fi);
$fiSequenceMax: 89;

@function fiSize($n) {
  @return math.div($fiWidth, $fiSequenceMax) * $n;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: "Lekton", sans-serif;
}

#container {
  width: $fiWidth;
  position: relative;
  padding: fiSize(13);

  &:before {
    content: "";
    width: 1px;
    position: fixed;
    left: fiSize(23.5);
    top: 0;
    bottom: 0;
    background: blue;
  }
}
